    /*
    Flaticon icon font: Flaticon
    Creation date: 21/01/2021 08:35
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-admin:before { content: "\f100"; }
.flaticon-category:before { content: "\f101"; }
.flaticon-experience:before { content: "\f102"; }
.flaticon-card:before { content: "\f103"; }
.flaticon-pass:before { content: "\f104"; }
.flaticon-healthcare:before { content: "\f105"; }
.flaticon-worker:before { content: "\f106"; }
.flaticon-insurance:before { content: "\f107"; }
.flaticon-driving-license:before { content: "\f108"; }
.flaticon-car-insurance:before { content: "\f109"; }
.flaticon-id-card:before { content: "\f10a"; }
.flaticon-id-card-1:before { content: "\f10b"; }
.flaticon-certificate:before { content: "\f10c"; }
.flaticon-architect:before { content: "\f10d"; }
.flaticon-certificate-1:before { content: "\f10e"; }
.flaticon-bank:before { content: "\f10f"; }
.flaticon-debit-card:before { content: "\f110"; }
.flaticon-bank-1:before { content: "\f111"; }
.flaticon-security-pins:before { content: "\f112"; }
.flaticon-secure:before { content: "\f113"; }
.flaticon-code:before { content: "\f114"; }
.flaticon-password:before { content: "\f115"; }
.flaticon-pin-code:before { content: "\f116"; }
    
    $font-Flaticon-admin: "\f100";
    $font-Flaticon-category: "\f101";
    $font-Flaticon-experience: "\f102";
    $font-Flaticon-card: "\f103";
    $font-Flaticon-pass: "\f104";
    $font-Flaticon-healthcare: "\f105";
    $font-Flaticon-worker: "\f106";
    $font-Flaticon-insurance: "\f107";
    $font-Flaticon-driving-license: "\f108";
    $font-Flaticon-car-insurance: "\f109";
    $font-Flaticon-id-card: "\f10a";
    $font-Flaticon-id-card-1: "\f10b";
    $font-Flaticon-certificate: "\f10c";
    $font-Flaticon-architect: "\f10d";
    $font-Flaticon-certificate-1: "\f10e";
    $font-Flaticon-bank: "\f10f";
    $font-Flaticon-debit-card: "\f110";
    $font-Flaticon-bank-1: "\f111";
    $font-Flaticon-security-pins: "\f112";
    $font-Flaticon-secure: "\f113";
    $font-Flaticon-code: "\f114";
    $font-Flaticon-password: "\f115";
    $font-Flaticon-pin-code: "\f116";